<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= locals.status + ': ' + locals.message %> | FlappyShape</title>
</head>
<body>
  <p><%= locals.message %>. <a href="/">Home</a>. <%= locals.description %></p>
</body>
</html>
